/* Mason Frodsham Last Edited 04/14/2022 */
.common {
    position: absolute;
}

.header {
    top: 5px;
    left: 5px;
    right: 5px;
    height: 100px;
    z-index: 2;
    border-bottom: solid 1px #555555;
    background-color: black;
}

body {
    background-color: rgb(203, 201, 201);
    font-family: Arial, Helvetica, sans-serif;
}

.mainbody {
    top: 114px;
    bottom: 64px;
    left: 5px;
    right: 5px;
    padding-right: 5px;
}

.footer {
    bottom: 5px;
    height: 10px;
    left: 5px;
    right: 5px;
    font-size: 8px;
    position: fixed;
    color: black;
    text-align: center;
}

.subheader {
    float: right;
}

.headertext {
    color: rgb(252, 252, 253);
    font-family: Arial, Helvetica, sans-serif;
}

.text {
    color: rgb(6, 6, 6);
    font-family: Arial, Helvetica, sans-serif;
}

.caption {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: black;
}

.tab1{
    top: 120px;
    left: 10px;
    right: 50%;
    bottom: 25%;
}

.tab2 {
    top: 120px;
    right: 10px;
    left: 50%;
    bottom: 25%;
}

.tab3 {
    bottom: 80px;
    left: 10px;
    right: 50%;
    top: 97%;
}

.tab4 {
    bottom: 80px;
    right: 10px;
    left: 50%;
    top: 97%;
    background-color: #999999;
}

.links {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-style: italic;
    color: rgb(144, 144, 253);
    text-decoration: underline;
    text-align: right;
}